{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tenant</li>
        </ol>
      </nav>
      <h1>Tenant  <span class="fw-lighter">({{ tenants|length }})</span><a href="add" class="ms-5 btn btn-outline-secondary btn-sm">Tambah</a></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Num Loggers</th>
            <th>Lokasi</th>
            <th>Users</th>
            <th>WS</th>
            <th>DAS</th>
          </tr>
        </thead>
        <tbody>
          {% for t in tenants %}
          <tr>
            <td><a href="/tenant/{{ t.id }}">{{ t.nama }}</a> <i>{{ t.slug }}</i></td>
            <td><a href="/tenant/{{ t.id }}/logger">{{ t.logger_set.count() }}</a></td>
            <td><a href="/tenant/{{ t.id }}/pos">{{ t.location_set.count() }}</a></td>
            <td>{{ t.user_set| length }}</td>
            <td>{{ t.ws_set.count() }}</td>
            <td>{{ t.das_set.count() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}