{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/user">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tambah</li>
        </ol>
      </nav>
      {% if errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        {{ errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    <h1>Tambah User</h1>
      </div>
      </div>
  <div class="row">
    <div class="col-sm-6">
      <form action="{{ url_for('user.add') }}" method="POST">
        {{ form.hidden_tag() }}
      <div class="mb-3">
        <label for="username" class="form-label">{{ form.username.label }}</label>
        {{ form.username(class='form-control') }}
        <div class="form-text">Minimal 4 karakter (huruf kecil atau angka)</div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">{{ form.password.label }}</label>
        {{ form.password(class='form-control') }}
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">POS Hidrologi </label>
        {{ form.location(class='form-select') }}
        <div class="form-text">Jika Pos belum terdaftar, <a href="/pos/add/?tipe=1">menambah Pos Curah Hujan</a> atau <a href="/pos/add/?tipe=2">Pos Duga Air</a></div>
      </div>
      <div class="mb-3">{{ form.submit(value='Tambahkan', class='btn btn-primary', disabled=True) }} <a href="javascript:history.back()" class="btn btn-light">Batal</a></div>
      </form>
    </div>
  </div>
      </div>
{% endblock %}
{% block js_foot %}
<script>
  document.getElementById('username').addEventListener('input', (e) => {
    if (e.target.value.length < 4) {
      document.getElementById('submit').disabled = true;
    } else {
      document.getElementById('submit').disabled = false;
    }
//    document.getElementById('username1').value = e.target.value.replace(/^[0-9a-zA-Z]/g, '')
    console.log(e.target.value);
  });
</script>
{% endblock %}