{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">User</li>
        </ol>
      </nav>
      <h1>User  <span class="fw-lighter">({{ users|length }})</span><a href="add" class="ms-5 text-muted fw-light fs-6">Tambah User</a></h1> 
      </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                {% if not current_user.tenant %}
                <th>Tenant</th>
                <th>Timezone</th>
                {% endif %}
                <th>Handphone</th>
                <th>Petugas</th>
                <th>Last Seen</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for u in users %}
              <tr>
                <td>{{ u.username }}</td>
                {% if not current_user.tenant %}
                <td>{{ u.tenant.nama }}</td>
                <td>{{ u.tz }}</td>
                {% endif %}
                <td>{{ u.hp or '-' }}</td>
                <td>{% if u.location %}{{ u.location.nama }}{% else %}-{% endif %}</td>
                <td>{{ u.last_seen }}</td>
                <td><a href="{{ url_for('user.set_password', username=u.username) }}">Atur Password</a></td>
              </tr>
              {% endfor %}  
            </tbody>
            </table>    
        </div>
        <div class="col-sm-4">User Petugas hanya mampu untuk 'input' data dari hasil pengamatan (hujan / TMA) setiap hari</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}