{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Semua Pos Hidrologi</li>
        </ol>
      </nav>
      <h1>Pos  <span class="fw-lighter">({{ poses|length }})</span><a href="add/" class="ms-5 fs-6 fw-light text-muted">Tambah Pos</a></h1>
      <p class="text-muted">Pos Curah Hujan dan Pos Duga Air</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>Urutkan: Nama | Kabupaten | Elevasi</p>
      <table class="table border-top">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama
              <div class="fw-lighter" style="font-size:8pt;">WS, DAS</div>
            </th>
            <th></th>
            <th>Administratif
              <div class="fw-lighter" style="font-size:8pt;">Kabupaten, Desa, Kecamatan</div>
            </th>
            <th>Geografis
              <div class="fw-lighter" style="font-size:8pt;">Elevasi, Latitude (Lintang), Longitude (Bujur)</div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for p in poses %}
          <tr>
            <td>{{ loop.index }}</td>
            <td style="max-width: 200px;" class="text-truncate">
              
              <abbr class="editable" data-type="text" data-obj="location" data-name="nama" data-pk="{{ p.id }}" data-title="Nama Pos">{{ p.nama }}</abbr>
            </td>
            <td><abbr class="editable badge {% if p.tipe == '1' %}bg-primary{% elif p.tipe == '2' %}bg-danger{% elif p.tipe == '3' %}bg-success{% else %}bg-secondary{% endif %}" data-type="select" data-source='[{"value": 1, "text": "PCH"}, {"value": 2, "text": "PDA"}, {"value": 3, "text": "Klimatologi"}]' data-obj="location" data-name="tipe" data-pk="{{ p.id }}" data-title="Tipe Pos Pengamatan">{{ p.tipe }}</abbr>
            </td>
            <td><div>Kab. <abbr class="editable" data-type='text' data-pk='{{p.id}}' data-obj='location' data-title='Kabupaten' data-name='kabupaten'>{{ p.kabupaten}}</abbr>, ds <abbr class="editable" data-obj='location' data-name='desa' data-type='text' data-pk='{{p.id}}' data-title='Desa' data-value='{{ p.desa }}'>{{ p.nama }}</abbr>, kec. <abbr class="editable" data-type='text' data-pk='{{p.id}}' data-obj='location' data-title='Kecamatan' data-name='kecamatan'>{{ p.kecamatan }}</abbr></div></td>
            <td>Elev. <abbr class="editable" title="Elevasi (mdpl)" data-obj="location" data-pk="{{ p.id }}" data-type="number" data-name="elevasi">{{ p.elevasi }}</abbr> <abbr class="editable" data-obj='location' data-name='ll' data-type='text' data-pk='{{ p.id }}'>{{ p.ll or 'latlng'}}</abbr>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <!--
      <div class="card">
        <h5 class="card-header">Wilayah Sungai / WS</h5>
        <div class="card-body">
          <p>Tambah WS</p>
          <form id="form_ws" action="/ws" method="POST" class="row g-3 border border-radius pb-3">
            <div class="col-auto">
              <input class="form-control" type="text" name="nama">
            </div>
            <div class="col-auto">
              <input class="btn btn-primary" type="submit" value="Tambah" disabled>
            </div>
          </form>
          {% if ws_list %}
          <table class="table">
            {% for w in ws_list %}
            <tr><td>{{ w.nama }}</td><td><span class="float-end"><a class="btn btn-light" href="#" style="font-size:10pt;"><i class="bi bi-trash"></i></a></span></td></tr>
            {% endfor %}      
          </table>
          {% else %}
          <p>Belum ada Wilayah Sungai tersimpan.</p>
          {% endif %}
        </div>
      </div>
      <div class="card mt-5">
        <h5 class="card-header">Daerah Aliran Sungai / DAS</h5>
        <div class="card-body">
          <form id="form_das" action="/das" method="POST" class="row g-3">
            <div class="col-auto">
              <input class="form-control" type="text" name="nama">
            </div>
            <div class="col-auto">
              <input class="btn btn-primary" type="submit" value="Tambah" disabled>
            </div>
          </form>
          {% if das_list %}
          <table class="table">
          {% for w in das_list %}
            <tr><td>{{ w.nama }}</td></tr>
          {% endfor %}
          </table>
          {% else %}
          <p>Belum ada Daerah Aliran Sungai tersimpan.</p>
          {% endif %}
        </div>
      </div>
      -->
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dark-editable.js"></script>
<script>
const editable = document.querySelectorAll('.editable')
let i = 0;
for (i=0; i < editable.length; i++) {
  new DarkEditable(editable[i], {
    url: '/api/update',
    success: (resp, newVal) => {
      if (resp.status == 'error') {
        return resp.msg
      }
    }
  })
}

const sendDataWs = () => {
  let data = new FormData();
  form = document.getElementById('form_ws');
  data.append("nama", form.elements[0].value);

  fetch('/api/ws', {
    method: 'POST',
    body: data
  })
  .then((result) => {
    if (result.status != 201) { 
      throw new Error("Bad Server response");
      return result.text();
    }
  })
  .then((response) => {
    console.log(response);
  })
  .catch((error) => {console.log(error); });

  return false;
}
</script>
{% endblock %}