{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pos Duga Air</li>
        </ol>
      </nav>
      <h1>Pos Duga Air <span class="fw-lighter">({{ poses|length }})</span><a href="../add?tipe=2" class="ms-5 text-muted fs-6 fw-normal">Tambah Pos</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 mt-3">
      <div class="row mb-3">
        <div class="col-4 text-end"><a class="btn btn-lighter" href="{{ url_for('pos.pda') }}?s={{ _tgl.strftime('%Y/%m/%d') }}"><i class="bi bi-chevron-left"></i></a></div>
        <div class="col-4 text-center fs-4">{{ tgl.strftime('%d %b %y') }}</div>
        <div class="col-4 text-start"><a class="btn btn-lighter" href="{{ url_for('pos.pda') }}?s={{ tgl_.strftime('%Y/%m/%d') }}"><i class="bi bi-chevron-right"></i></a></div>    
      </div>
<table class="table border-top">
  <thead>
    <tr>
      <th rowspan="2" class="align-baseline">No</th>
      <th rowspan="2" class="align-baseline">Nama</th>
      <th colspan="2" class="small text-center">Pagi <span style="font-weight: 300;font-size: 10pt;">jam 6</span></th>
      <th colspan="2" class="small text-center">Siang <span style="font-weight: 300;font-size: 10pt;">jam 12</span></th>
      <th colspan="2" class="small text-center">Sore <span style="font-weight: 300;font-size: 10pt;">jam 18</span></th>
      <th colspan="3" class="small text-center">Batas Siaga</th>
    </tr>
    <tr>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
      <th class="text-success">Hijau</th>
      <th class="text-warning">Kuning</th>
      <th class="text-danger">Merah</th>
    </tr>
  </thead>
  <tbody>
    {% for p in poses %}
    <tr>
      <td>{{ loop.index }}</td>
      <td style="max-width: 200px;" class="text-truncate"><a href="/pos/{{ p.pda.id }}-{{p.pda.nama}}">{{ p.pda.nama }}</a></td>
      {% if not p.pda.logger_set|length %}
      <td colspan="6">Tidak ada primaBot di PDA ini, <a href="/logger">pasangkan</a>.</td>
      {% else %}
      <td>{{ p.t6 or '-'}}</td>
      <td>{{ p.m6 or '-'}}</td>
      <td>{{ p.t12 or '-'}}</td>
      <td>{{ p.m12 or '-'}}</td>
      <td>{{ p.t18 or '-'}}</td>
      <td>{{ p.m18 or '-'}}</td>
      {% endif %}
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% else %}
    <tr>
      <td colspan="11">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-6 fw-bold text-body-emphasis">Belum ada Pos Duga Air</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><a href="/pos/add?tipe=2">Tambahkan Pos Duga Air (PDA)</a>.</p>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  
</div>
{% endblock %}