{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pos Duga Air</li>
        </ol>
      </nav>
      <h1>Pos Duga Air <span class="fw-lighter">({{ poses|length }})</span><a href="../add?tipe=2" class="ms-5 btn btn-outline-secondary btn-sm">Tambah</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th rowspan="2" class="align-baseline">No</th>
      <th rowspan="2" class="align-baseline">Nama</th>
      <th colspan="2" class="small text-center">Pagi <span style="font-weight: 300;font-size: 10pt;">jam 6</span></th>
      <th colspan="2" class="small text-center">Siang <span style="font-weight: 300;font-size: 10pt;">jam 12</span></th>
      <th colspan="2" class="small text-center">Sore <span style="font-weight: 300;font-size: 10pt;">jam 18</span></th>
      <th rowspan="2">S. Hijau</th>
      <th rowspan="2">S. Kuning</th>
      <th rowspan="2">S. Merah</th>
    </tr>
    <tr>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Telemetri</th>
      <th class="small" style="font-weight: 400;font-size: 10pt;">Manual</th>
    </tr>
  </thead>
  <tbody>
    {% for p in poses %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="/pos/{{p.id}}-{{p.nama}}">{{ p.nama }}</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
  </div>
  
</div>
{% endblock %}