{% extends 'base.html' %}
{# menampilkan detil Pos Duga Air #}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pda">Pos Duga Air</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
      <h2><span class="d-inline d-md-none"><a href="/pos">&larr;</a>&nbsp;</span>{{ pos.nama }} <span class="fs-6 badge bg-danger rounded-pill">PDA</span></h2>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-primary">Sehari</a>
        <a href="{{ url_for('pos.show', id=pos.id) }}{{ tgl.year }}/{{ tgl.month }}" class="btn btn-outline-primary">Sebulan</a>
        <a href="{{ url_for('pos.show', id=pos.id) }}{{ tgl.year }}" class="btn btn-outline-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <canvas id="chart_hujan_hari"></canvas>
    </div>
    <div class="col-sm-4">
      <div class="row mb-5">
        <div class="col-4"><a href="{{ url_for('pos.show', id=pos.id, tahun=_tgl.year, bulan=_tgl.month, tanggal=_tgl.day) }}">Before</a></div>
        <div class="col-4 text-center">{{ tgl.strftime('%d %b %Y') }}</div>
        <div class="col-4 text-end"><a href="{{ url_for('pos.show', id=pos.id, tahun=tgl_.year, bulan=tgl_.month, tanggal=tgl_.day) }}">After</a></div>
      </div>
      <div class="mb-5">
        <h4>Data Logger</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Merk</th>
              <th>SN</th>
            </tr>
          </thead>
          <tbody>
            {% for l in pos.logger_set %}
            <tr>
              <td>primaBot</td>
              <td><a href="{{ url_for('logger.show', sn=l.sn) }}">{{ l.sn }}</a></td>
            </tr>
            {% else %}
            <tr>
              <td colspan="2"><i>Kosong</i></td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mb-5">
      <h4>Tentang Lokasi ini</h4>
      <ul>
        <li>Siaga Hijau: {{ pos.sh }}</li>
        <li>Siaga Kuning: {{ pos.sk }}</li>
        <li>Siaga Merah: {{ pos.sm }}</li>
      </ul>
      <p></p>
      desa 
      kecamatan 
      kab 
    </div>
    <div class="mb-5">
      <h4>Petugas</h4>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Username</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in pos.user_set %}
          {{ p.username }}
          {% else %}
          <tr>
            <td colspan="2"><i>Belum Ada Petugas</i></td>
          </tr>
          {% endfor%}    
        </tbody>
      </table>
      <form action="." method="POST" style="display:none">
        {{ user_form.hidden_tag() }}
        <div class="mb-3">Location: {{ pos.nama }}</div>
        <div class="mb-3">
          {{ user_form.username.label(class="form-label") }}
          {{ user_form.username(class="form-control") }}
          <div class="form-text">Maksimum 12 alfanumerik(a-z, 0-9)</div>
        </div>
        <div class="mb-3">
          {{ user_form.password.label(class="form-label") }}
          {{ user_form.password(class="form-control") }}
          <div class="form-text"></div>
        </div>

        <input type="submit" class="btn btn-primary" value="Simpan">  
      </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    '07',
    '08',
    '09',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15',
    '16',
    '17',
    '18',
    '19',
    '20',
    '21',
    '22',
    '23',
    '00',
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Tinggi Muka Air',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0.5, 0.5, 0.6, 0.7, 0.8, 0.9, 0.8, 0.7, 0.7, 0.6, 0.6, 0.5, 0.4, 0.4, 0.4, 0.5, 0.5, 0.5, 0.5, 0.5],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
  const myChart = new Chart(
    document.getElementById('chart_hujan_hari'),
    config
  )

</script>

{% endblock %}