{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pch">Pos Curah Hujan</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
<h2>{{ pos.nama }} <span class="fs-6 badge bg-primary rounded-pill">PCH</span></h2>
<span class="small">Desa/Kel: {{ pos.desa or '-'}} Kec: {{ pos.kecamatan or '-'}} Kab/Kot: {{ pos.kabupaten or '-'}}</span>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-outline-primary">Sehari</a>
        <a href="{{ url_for('pos.show', id=pos.id) }}" class="btn btn-primary">Sebulan</a>
        <a href="{{ url_for('pos.show_setahun', id=pos.id, tahun=bln.year) }}" class="btn btn-outline-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"><h2 class="text-center"><a href="{{ url_for('pos.show_sebulan', id=pos.id, tahun=_bln.year, bulan=_bln.month)}}" class="btn btn-light me-5"><i class="bi bi-chevron-left"></i></a>{{bln.strftime('%b %Y')}} <a href="{{ url_for('pos.show_sebulan', id=pos.id, tahun=bln_.year, bulan=bln_.month)}}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
      <canvas id="chart_hujan_hari"></canvas>
      <p>Skala Curah Hujan / hari</p>
      <table class="table" style="max-width: 300px;">
        <tr>
          <td class="pe-4">100 - 150</td><th style="color: rgb(255, 32, 32)">Hujan Sangat Lebat</th>
        </tr>
        <tr>
          <td>50 - 100</td><th style="color: rgb(255, 165, 0)">Hujan Lebat</th>
        </tr>
        <tr>
          <td>20 - 50</td><th style="color: rgb(245, 223, 77)">Hujan Sedang</th>
        </tr>
        <tr>
          <td>0,5 - 20</td><th style="color: rgb(32, 99, 255)">Hujan Ringan</th>
        </tr>
      </table>
    </div>
    <div class="col-sm-4">
      <h4>Curah Hujan {{bln.strftime('%b %Y')}} <span class="fw-light fs-5">({{ data_sebulan|length }} hari)</span></h4>
      <table class="table">
        <tr>
          <th>&nbsp;</th>
          <th>CH<br><span style="line-height:0.8em;font-size:8pt;font-weight:300">(mm)</span></th>
          <th>HTH</th>
          <th>Maks<br><span style="font-size:8pt;font-weight:300">(mm)</span></th>
        </tr>
        <tr style="background-color: #0dcaf0;">
          <th>Telemetri (100%)</th>
          <td class="text-end">{{ "%0.1f" % data_sebulan|sum(attribute='1')}}</td>
          <td class="text-end">0</td>
          <td class="text-end">0</td>
        </tr>
        <tr style="background-color: #d1e7dd;">
          <th>Manual</th>
          <td class="text-end">{{ data_sebulan|sum(attribute='3') }}</td>
          <td class="text-end">0</td>
          <td class="text-end">0</td>
        </tr>
        <tr>
          <th>Selisih</th>
          <td class="text-end">0</td>
          <td class="text-end">0</td>
          <td class="text-end">0</td>
        </tr>
      </table>
      <table class="table table-striped" id="daily">
        <thead>
          <tr>
            <th>Tgl</th>
            <th>Telemetri</th>
            <th>Validitas</th>
            <th>Manual</th>
            <th>Selisih</th>
          </tr>
        </thead>
        <tbody>
          {% for t in data_sebulan %}
          <tr>
            <td><a class="small" href="/pos/{{ pos.id}}-{{ pos.nama}}?s={{ t.0.strftime('%Y-%m-%d')}}">{{ t.0 }}</a></td>
            <td class="text-end t-rain" style="background-color: #0dcaf0;">{% if t.1 %}{{ "%0.1f" % t.1 }}{% else %}-{% endif %}</td>
            <td class="text-end">{% if t.2 %}{{ '%0.0f'%((t.2/288) * 100) }}%{% else %}-{% endif %}</td>
            <td class="text-end m-rain" style="background-color: #d1e7dd;">
              {% if t.4 %}<abbr class="editable" data-pk="{{ t.4 }}" data-obj="daily" data-name="m_rain" data-title="CH Manual {{ t.0 }}">{{ t.3 or '-'}}</abbr>{% else %}-{% endif %}
            </td>
            <td class="text-end"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.0.1/dist/chartjs-plugin-annotation.min.js"></script>
<script src="/static/js/dark-editable.js"></script>
<script>
  updateDaily();
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  const editable = document.querySelectorAll('.editable')
  let i = 0;
  for (i=0; i < editable.length; i++) {
    new DarkEditable(editable[i], {
      url: '/api/update',
      success: (resp, newVal) => {
        if (resp.status == 'error') {
          return resp.msg
        }
      }
    })
  }

  function updateDaily() {
    let daily = document.getElementById('daily');
    let hthTelemetri = Array.from(daily.rows).slice()
  }

  const labels = [{% for t in data_sebulan %}'{{ t[0].day }}', {% endfor %}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'CH Telemetri / Hari',
      backgroundColor: 'rgb(0,191,255)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for r in data_sebulan %}{{ r.1 }}, {% endfor %}],
    },
    {
      label: 'CH Manual / Hari',
      backgroundColor: 'rgba(15,81,50, 0.5)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for r in data_sebulan %}{{ r.3 }}, {% endfor %}],
    },
    {
      label: 'Banyak Data/hari',
      backgroundColor: 'rgba(211, 211, 211, 0.5)',
      borderColor: 'rgb(99, 99, 99)',
      data: [{% for r in data_sebulan %}{{ r.2 }}, {% endfor %}],
      yAxisID: 'ycount'
    }
]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Tanggal',
            align: 'end'
          }
        },
        y: {
          title: {
            display: true,
            text: 'mm',
            align: 'end'
          }
        },
        ycount: {
          position: 'right',
          max: 288,
        }

      },
      plugins: {
        autocolors: false,
        annotation: {
          annotations: {
            line1: {
              type: 'line',
              yMin: 5,
              yMax: 5,
              borderColor: 'rgba(32, 255, 32, 0.5)',
              borderWidth: 10,
            },
            line2: {
              type: 'line',
              yMin: 20,
              yMax: 20,
              borderColor: 'rgba(245, 223, 77, 0.5)',
              borderWidth: 10,
            },
            line3: {
              type: 'line',
              yMin: 50,
              yMax: 50,
              borderColor: 'rgba(255, 165, 0, 0.5)',
              borderWidth: 10,
            },
            line4: {
              type: 'line',
              yMin: 100,
              yMax: 100,
              borderColor: 'rgba(255, 32, 32, 0.5)',
              borderWidth: 10,
            },
            vline1: {
              type: 'line',
              xMin: 9,
              xMax: 9,
              borderColor: 'rgba(255, 99, 132, 0.1)',
              borderWidth: 2,
            },
            vline2: {
              type: 'line',
              xMin: 19,
              xMax: 19,
              borderColor: 'rgba(255, 99, 132, 0.1)',
              borderWidth: 2,
            },
            label5: {
              type: 'label',
              position: 'start',
              xValue: 0,
              yValue: 120,
              content: ''
            }

          }
        }
      }

    }
  };
  const myChart = new Chart(
    document.getElementById('chart_hujan_hari'),
    config
  )

</script>

{% endblock %}