{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pch">Pos Curah Hujan</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
    <h2>{{ pos.nama }} <span class="fs-6 badge bg-primary rounded-pill">PCH</span></h2>
      <span class="small">Desa</span>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-outline-primary">Sehari</a>
        <a href="{{ url_for('pos.show_sebulan', id=pos.id, tahun=thn.year, bulan=1) }}" class="btn btn-outline-primary">Sebulan</a>
        <a href="{{ url_for('pos.show_setahun', id=pos.id, tahun=thn.year) }}" class="btn btn-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"><p class="text-center">{{thn.year}}</p>
      <canvas id="chart_hujan_hari"></canvas>
    </div>
    <div class="col-sm-4">
      <h2>Hujan Maksimum</h2>
      <p>total hujan setahun: telemetri & manual</p>
      <p>Hujan tertinggi</p>
      <p>Bulan hujan tertinggi</p>
      <p>HTH (Hari Tanpa Hujan) setahun</p>
      <p>Download</p>
      <ol>
        <li>Jan</li>
        <li>Feb</li>
        <li>Mar</li>
        <li>...</li>
      </ol>

    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
    '07',
    '08',
    '09',
    '10',
    '11',
    '12'];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Curah Hujan',
      backgroundColor: 'rgb(13, 110, 253)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 5],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
  const myChart = new Chart(
    document.getElementById('chart_hujan_hari'),
    config
  )

</script>

{% endblock %}