{% extends 'base.html' %}
{# menampilkan detil Pos Duga Air #}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pda">Pos Duga Air</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
      <h2><span class="d-inline d-md-none"><a href="/pos">&larr;</a>&nbsp;</span>{{ pos.nama }} <span class="fs-6 badge bg-danger rounded-pill">PDA</span></h2>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-primary">Sehari</a>
        <a href="{{ url_for('pos.show', id=pos.id) }}{{ tgl.year }}/{{ tgl.month }}" class="btn btn-outline-primary">Sebulan</a>
        <a href="{{ url_for('pos.show', id=pos.id) }}{{ tgl.year }}" class="btn btn-outline-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2 class="text-center fs-4"><a href="{{ url_for('pos.show', id=pos.id) }}?s={{_tgl.strftime('%Y/%m/%d') }}" class="me-5 btn btn-light"><i class="bi bi-chevron-left"></i></a> {{ tgl.strftime('%d %b %Y') }} <a href="{{ url_for('pos.show', id=pos.id)}}?s={{tgl_.strftime('%Y/%m/%d') }}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
      <canvas id="chart_hujan_hari"></canvas>
    </div>
    <div class="col-sm-4">
      <div class="mb-5">
      <h4>Tentang Lokasi ini</h4>
      <ul>
        <li>Siaga Hijau: {{ pos.sh }}</li>
        <li>Siaga Kuning: {{ pos.sk }}</li>
        <li>Siaga Merah: {{ pos.sm }}</li>
      </ul>
      <ul>
        <li>Tinggi Sonar: {{ logger.ting_son or 10000 }}</li>
        <li>Sonar Rsolution: {{ logger.son_res or 1}}</li>
      </ul>
    </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [{% for wlevel in wlevels %}'{{wlevel.0}}',{% endfor %}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Tinggi Muka Air (M)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for wlevel in wlevels %}{% if wlevel.1 %}{{ wlevel.1[-1][1] }}{% endif %}, {% endfor %}],
      yAxisID: 'ytele'
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Jam',
            align: 'end'
          }
        },
        ytele: {
          title: {
            text: 'Meter',
            display: true
          },
          min: 0
        }
      },
      plugins: {
        autocolors: false,
        annotation: {
          annotations: {
            line1: {
              type: 'line',
              yMin: 1,
              yMax: 1,
              borderColor: 'rgba(32, 255, 32, 0.5)',
              borderWidth: 10,
            },
            line2: {
              type: 'line',
              yMin: 5,
              yMax: 5,
              borderColor: 'rgba(245, 223, 77, 0.5)',
              borderWidth: 10,
            },
            line3: {
              type: 'line',
              yMin: 10,
              yMax: 10,
              borderColor: 'rgba(255, 165, 0, 0.5)',
              borderWidth: 10,
            },
            line4: {
              type: 'line',
              yMin: 20,
              yMax: 20,
              borderColor: 'rgba(255, 32, 32, 0.5)',
              borderWidth: 10,
            },
            label5: {
              type: 'label',
              yValue: 22.5,
            }

          }
        }
      }

    }
  };
  const myChart = new Chart(
    document.getElementById('chart_hujan_hari'),
    config
  )

</script>

{% endblock %}