{% extends 'base.html' %}
{% import '_part/_booth.html' as booth %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/dark-editable.css"> 
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pch">Pos Curah Hujan</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
      <h2><span class="d-inline d-md-none"><a href="/pos">&larr;</a>&nbsp;</span>{{ pos.nama }} <span class="fs-6 badge bg-primary rounded-pill">PCH</span></h2>
      <span class="small">Desa/Kel: {{ pos.desa or '-'}} Kec: {{ pos.kecamatan or '-'}} Kab/Kot: {{ pos.kabupaten or '-'}}</span>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show_pch', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-primary">Sehari</a>
        <a href="{{ url_for('pos.show_pch', id=pos.id) }}{{ tgl.year }}/{{ tgl.month }}" class="btn btn-outline-primary">Sebulan</a>
        <a href="{{ url_for('pos.show_pch', id=pos.id) }}{{ tgl.year }}" class="btn btn-outline-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"><h2 class="text-center fs-4"><a href="{{ url_for('pos.show_pch', id=pos.id) }}?s={{_tgl.strftime('%Y/%m/%d') }}" class="me-5 btn btn-light"><i class="bi bi-chevron-left"></i></a> {{ tgl.strftime('%d %b %Y') }} <a href="{{ url_for('pos.show_pch', id=pos.id)}}?s={{tgl_.strftime('%Y/%m/%d') }}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
      
      <canvas id="chart_hujan_hari"></canvas>
    </div>
    <div class="col-sm-4">
      {{ booth.open(tgl.strftime('%d %b %Y'))}}
      <p class="lh-2">Validitas Telemetri: {{ '%0.1f' % (num_data/288 * 100)|float }} %</p>
      <p>Curah Hujan Telemetri: {{ '%0.1f' % rain }} mm</p>
      <p>Curah Hujan Manual: {{ '%0.1f' % m_rain }} mm<br>
      <small class="text-muted ms-3">Pembacaan tgl {{ tgl_.strftime('%d %b %Y')}}</small></p>
      {% if num_data > 0 %}
      <form action="{{ url_for('pos.show_pch', id=pos.id)}}?s={{tgl.strftime('%Y/%m/%d') }}" method="POST"><input type="submit" class="btn btn-outline-primary btn-sm" value="Download"> <span class="small text-muted">{{ num_data }} data, periode per 5 menit</span></form>
      {% else %}
      <a class="btn btn-outline-primary btn-sm disabled" aria-disabled="true">Download</a> <span class="small text-muted">tidak ada data hari ini</span>
      {% endif %}

      {{ booth.close() }}
      {{ booth.open('Curah Hujan per Jam') }}
      <table>
        <tr>
          <td class="pe-4">&gt; 20</td><th style="color: rgb(255, 32, 32)">Hujan Sangat Lebat</th>
        </tr>
        <tr>
          <td>10 - 20</td><th style="color: rgb(255, 165, 0)">Hujan Lebat</th>
        </tr>
        <tr>
          <td>5 - 10</td><th style="color: rgb(245, 223, 77)">Hujan Sedang</th>
        </tr>
        <tr>
          <td>0,1 - 5</td><th style="color: rgb(32, 255, 32)">Hujan Ringan</th>
        </tr>
      </table>
      <small class="ms-3 text-muted">Mengacu ke BMKG</small>
      {{ booth.close() }}
      {% if pos.logger_set %}
      {{ booth.open('Data Logger ' ~ pos.logger_set[0].sn)|e}}
      <p class="ps-2">Tipping Factor <i class="bi bi-info-circle-fill" data-bs-title="Tipping Factor" data-bs-toggle="popover" 
        data-bs-content="Tipping Factor = resolusi Penakar Hujan Otomatis (Automatic Rain Gauge), biasanya bernilai 0.2 atau 0.5. Silakan periksa (konsultasikan) nilai resolusi pada ARG yang terpasang."></i> : 
        <code><abbr class="editable" 
          data-title="Tipping Factor" data-type="text" 
          data-obj="logger" data-name="tipp_fac" 
          data-pk="{{ pos.logger_set[0].id }}">
          {{pos.logger_set[0].tipp_fac}}</abbr></code> mm 
          </p>
      {{ booth.close() }}
      {% else %}
      {{ booth.open('Data Logger')}}
      <i>Belum ada data logger terpasang.</i>
      <div class="mt-3">
        <p>Data Logger belum terpasang</p>
        {% for l in free_logger %}
        {{ l.sn }}
        {% endfor %}
  
      </div>
      {{ booth.close()}}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dark-editable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.0.1/dist/chartjs-plugin-annotation.min.js"></script>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  const editable = document.querySelectorAll('.editable')
  let i = 0;
  for (i=0; i < editable.length; i++) {
    new DarkEditable(editable[i], {
      url: '/api/update',
      success: (resp, newVal) => {
        if (resp.status == 'error') {
          return resp.msg
        }
      }
    })
  }
  const labels = [{% for s, r in hourlyrain.items() %}'{% if s.hour in (0, 7) %}{{ s.strftime('%d %b, %H') }}{% else %}{{ s.hour }}{% endif %}',{% endfor %}
  ];

  const data = {
    labels: labels,

    datasets: [{
      label: 'Curah Hujan/jam',
      backgroundColor: 'rgb(0,191,255)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for s, r in hourlyrain.items() %}{{ r.0 * pos.logger_set[0].tipp_fac}}, {% endfor %}],
      yAxisID: 'yrain'
    },
    {
      label: 'Banyak Data/jam',
      backgroundColor: 'rgba(211, 211, 211, 0.5)',
      borderColor: 'rgb(99, 99, 99)',
      data: [{% for s, r in hourlyrain.items() %}{{ r.1 }}, {% endfor %}],
      yAxisID: 'ycount'
    }
  ]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Jam',
            align: 'end'
          }
        },
        yrain: {
          title: {
            display: true,
            text: 'mm',
            align: 'end'
          }
        },
        ycount: {
          position: 'right',
          max: 12,
        }
      },
      plugins: {
        autocolors: false,
        annotation: {
          annotations: {
            line1: {
              type: 'line',
              yMin: 1,
              yMax: 1,
              borderColor: 'rgba(32, 255, 32, 0.5)',
              borderWidth: 10,
            },
            line2: {
              type: 'line',
              yMin: 5,
              yMax: 5,
              borderColor: 'rgba(245, 223, 77, 0.5)',
              borderWidth: 10,
            },
            line3: {
              type: 'line',
              yMin: 10,
              yMax: 10,
              borderColor: 'rgba(255, 165, 0, 0.5)',
              borderWidth: 10,
            },
            line4: {
              type: 'line',
              yMin: 20,
              yMax: 20,
              borderColor: 'rgba(255, 32, 32, 0.5)',
              borderWidth: 10,
            },
            label5: {
              type: 'label',
              yValue: 22.5,
            }

          }
        }
      }
    }
  };
  const myChart = new Chart(
    document.getElementById('chart_hujan_hari'),
    config
  )

</script>

{% endblock %}