{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mb-5">
      <nav aria-label="breadcrumb" class="d-none d-md-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/pos/pda">Pos Duga Air</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ pos.nama }}</li>
        </ol>
      </nav>
    <h2>{{ pos.nama }} <span class="fs-6 badge bg-danger rounded-pill">PDA</span></h2>
      <span class="small">Desa/Kel: {{ pos.desa or '-'}} Kec: {{ pos.kecamatan or '-'}} Kab/Kot: {{ pos.kabupaten or '-'}}</span>
      <div class="btn-group float-end" role="group">
        <a href="{{ url_for('pos.show_pda', id=(pos.id ~ '-' ~ pos.nama))}}" class="btn btn-outline-primary">Sehari</a>
        <a href="{{ url_for('pos.show_pda_sebulan', id=pos.id, tahun=bln.year, bulan=bln.month) }}" class="btn btn-primary">Sebulan</a>
        <a href="{{ url_for('pos.show_pda_setahun', id=pos.id, tahun=bln.year) }}" class="btn btn-outline-primary">Setahun</a></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"><h2 class="text-center"><a href="{{ url_for('pos.show_pda_sebulan', id=pos.id, tahun=_bln.year, bulan=_bln.month)}}" class="btn btn-light me-5"><i class="bi bi-chevron-left"></i></a>{{bln.strftime('%b %Y')}} <a href="{{ url_for('pos.show_pda_sebulan', id=pos.id, tahun=bln_.year, bulan=bln_.month)}}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
      <canvas id="chart_wlevel_hari"></canvas>
    </div>
    <div class="col-sm-4">
    <table class="table">
      <tr>
        <th rowspan="2">Tgl</th>
        <th class="text-center" colspan="2">Pagi</th>
        <th class="text-center" colspan="2">Siang</th>
        <th class="text-center" colspan="2">Sore</th>
      </tr>
      <tr>
        <td class="text-center">T</td>
        <td class="text-center">M</td>
        <td class="text-center">T</td>
        <td class="text-center">M</td>
        <td class="text-center">T</td>
        <td class="text-center">M</td>
      </tr>
      {% for wl in data_sebulan %}
      <tr>
        <td>{{ wl }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </table>      
      <p>Rerata</p>
      <p>Download</p>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
    '07',
    '08',
    '09',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15',
    '16',
    '17',
    '18',
    '19',
    '20',
    '21',
    '22',
    '23',
    '24',
    '25',
    '26',
    '27',
    '28',
    '29',
    '30',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Tinggi Muka Air (CM)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{% for wlevel in wlevels %}{% if wlevel.1 %}{{ wlevel.1[-1][1] }}{% endif %}, {% endfor %}],
      yAxisID: 'ytele'
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
  const myChart = new Chart(
    document.getElementById('chart_wlevel_hari'),
    config
  )

</script>

{% endblock %}