{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Logger</li>
        </ol>
      </nav>
      <h1>Logger <span class="fw-lighter">({{ loggers|length }})</span></h1>
      <p class="text-muted">Pengaturan primaBot pada Pos Hidrologi</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>primaBot</th>
    <th>Pos</th>
    <th>Firmware</th>
    <th>Data Terakhir</th>
    <th>Konfigurasi</th>
  </tr>
</thead>
<tbody>
  {% for l in loggers %}
  <tr>
    <td style="max-width: 150px;" class="text-truncate"><i class="bi bi-cpu me-1 {% if l.tipe == 'arr' %}text-primary{% elif l.tipe == 'awlr' %}text-danger{% endif %}"></i> <a href="{{ l.sn }}">{{ l.sn }}</a> 
      </td>
    <td {% if not l.location %}class="text-danger"{% endif %}><i class="bi bi-geo-alt me-1"></i> 
      <abbr class="editable"
        data-type="select" data-source='[{% for loc in current_user.tenant.location_set %}{"value": {{ loc.id }}, "text": "{{ loc.nama }}"},{% endfor %}{"value": 0, "text": "Tidak Terpasang"}]' data-pk="{{l.id}}" data-obj="logger" data-name="location_id" data-value="{{l.location.id}}" data-title="Pilih Pos Hidrologi">{% if l.location %}{{ l.location.nama }}{% else %}-{% endif %}</abbr>
    </td>
    <td></td>
    <td></td>
    {% if l.tipe == 'arr' %}
    <td><span class="badge bg-primary rounded-pill">ARR</span>
    Tipping Factor: <abbr class="editable" data-obj="logger" data-pk="{{ l.id }}" data-type="text" data-name="tipp_fac" data-title="Tipping Factor">{{ l.tipp_fac }}</abbr></td>
    {% elif l.tipe == 'awlr' %}
    <td><span class="badge bg-danger rounded-pill">AWLR</span>
    Tinggi Sonar: <abbr class="editable" data-obj="logger" data-name="ting_son" data-pk="{{ l.id }}" data-type="text" title="{{ l.ting_son }}">{{ l.ting_son }}</abbr></td>
    {% elif l.tipe == 'arr-awlr' %}
    <td><span class="badge bg-primary rounded-pill">ARR</span> <span class="badge bg-danger rounded-pill">AWLR</span>
    Tipping Factor: {{ l.tipp_fac }}<br>Tinggi Sonar {{ l.ting_son }}</td>
    {% else %}
    <td><span class="badge bg-secondary rounded-pill">Klimat</span>
    </td>
    {% endif %}
    
  </tr>
  {% else %}
  <tr>
    <td>
      <div class="px-4 py-5 my-5 text-center">
        <i class="display-4 bi bi-cup text-muted"></i>
        <h1 class="display-6 text-muted text-body-emphasis">Anda belum punya primaBot</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mt-4">Setiap pembelian primaBot akan otomatis tersimpan di sini.</p>
        </div>
      </div>

    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dark-editable.js"></script>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  const editable = document.querySelectorAll('.editable')
  let i = 0;
  for (i=0; i < editable.length; i++) {
    new DarkEditable(editable[i], {
      url: '/api/update',
      emptytext: 'Tidak terpasang',
      success: (resp, newVal) => {
        if (resp.status == 'error') {
          return resp.msg
        }
      }
    })
  }
</script>
  {% endblock %}