{% extends 'base.html' %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/logger">Logger</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sehat</li>
        </ol>
      </nav>
      <h1>Kesehatan Logger <span class="float-end"><a class="btn btn-light" href="{{ url_for('logger.sehat') }}?s={{ prev_s.strftime('%Y-%m-%d') }}"><i class="me-3 bi bi-chevron-left"></i></a> {{ sampling.strftime('%d') }} <span class="text-muted fs-5 fw-light">{{ sampling.strftime('%b %Y') }}</span> <a class="btn btn-light" href="{{ url_for('logger.sehat') }}?s={{ next_s.strftime('%Y-%m-%d') }}"><i class="ms-3 bi bi-chevron-right"></i></a></span></h1>
      <table class="table border-top table-striped">
        <thead>
          <tr>
            <th>Logger</th>
            {% for i in range(0, 24) %}
            <th class="jam">{{ i }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for logger in logger_list %}
          <tr>
            <td style="max-width: 150px;" class="text-truncate"><i class="bi bi-cpu me-1 {% if logger.tipe == 'arr' %}text-primary{% elif logger.tipe == 'awlr' %}text-danger{% endif %}"></i> <a href="{{ url_for('logger.show', sn=logger.sn) }}?s={{ sampling.strftime("%Y/%m/%d")}}">{{ logger.sn }}</a> 
              <br>{% if logger.location %}<i class="bi bi-geo-alt me-1"></i> <a data-bs-toggle="tooltip" data-bs-title="{{ logger.location.nama }}" title="{{ logger.location.nama }}" href="{% if logger.tipe == '1' %}{{ url_for('pos.show_pch', id=logger.location.id) }}{%elif logger.tipe == '2' %}{{ url_for('pos.show_pda', id=logger.location.id) }}{% endif %}" class="text-muted fw-light" style="font-size:10pt">{{ logger.location.nama }}</a>{% else %}-{% endif %}
            </td>
            {% for i in range(0, 24) %}
            <td class="num">{{ logger.sehat[i] or '-' }}</td>
            {% endfor %}
          </tr>
      {% else %}
        <tr>
          <td colspan="25">Tidak ada logger pada {{ current_user.tenant }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
  </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const nums = document.querySelectorAll('.num');
    let i = 0;
    console.log('start')
    for (i=0; i<nums.length; i++) {
      if (nums[i].textContent > 8) { nums[i].style.color = '#0a0'; }
      else if (nums[i].textContent > 5) { nums[i].style.color = '#e90'; }
      else { nums[i].style.color = '#d00'; }
    }
  });
</script>
{% endblock %}