{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/logger">Logger</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ ctx.logger.sn }}</li>
        </ol>
      </nav>
      <h2>{{ ctx.logger.sn }} <span class="fs-6 badge bg-primary rounded-pill">{{ ctx.logger.tipe|upper }}</span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-center fs-4"><a href="{{ url_for('logger.show', sn=ctx.logger.sn) }}?s={{ctx.prev_s.strftime('%Y/%m/%d') }}" class="me-5 btn btn-light"><i class="bi bi-chevron-left"></i></a> {{ ctx.sampling.strftime('%d %b %Y') }} <a href="{{ url_for('logger.show', sn=ctx.logger.sn)}}?s={{ctx.next_s.strftime('%Y/%m/%d') }}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
        {% if ctx.periodik %}
        <table class="table">
          <thead>
            <tr>
              {% for c in ctx.cols %}
              <th>{{ c.replace('_', ' ').title() }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for r in ctx.periodik %}
            <tr>
            {% for c in ctx.cols %}
              {% if c == 'sampling' %}
              <td class="">{{ r.get(c).strftime('%H:%M') }}</td>
              {% else %}
              <td class="text-end">{{ r.get(c) }}</td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center mt-5">
          <i class="bi bi-journal-x fs-1"></i>
          <div class="mt-2 fs-3 text-secondary">Tidak ada data</div>
        </div>
        {% endif %}
      </div>
      <div class="col-md-4">
        Lokasi 
        <i class="bi bi-geo-alt me-1"></i> 
      <abbr class="editable"
        data-type="select" data-source='[{% for loc in current_user.tenant.location_set %}{"value": {{ loc.id }}, "text": "{{ loc.nama }}"},{% endfor %}{"value": 0, "text": "Tidak Dipasang"}]' data-pk="{{ctx.logger.id}}" data-obj="logger" data-name="location_id" data-value="{{ctx.logger.location.id}}" data-title="Lokasi Logger">{% if ctx.logger.location %}Ganti{% else %}Pasang di...{% endif %}</abbr><br>
        Config<br>
        {% if ctx.logger.tipe == 'arr' %}
         ARR: tipping factor <b>{{ ctx.logger.tipp_fac}}</b> mm<br>
         {% elif ctx.logger.tipe == 'awlr'%}
         AWLR: Tinggi sonar, resolusi sonar<br>
         {% endif %}
        <div class="mt-5">
          <a href="{{ url_for('logger.download', sn=ctx.logger.sn ) }}?s={{ ctx.sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary btn-sm">Download</a> data {{ ctx.sampling.strftime('%b %Y') }}
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dark-editable.js"></script>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  const editable = document.querySelectorAll('.editable')
  let i = 0;
  for (i=0; i < editable.length; i++) {
    new DarkEditable(editable[i], {
      url: '/api/update',
      emptytext: 'Tidak terpasang',
      success: (resp, newVal) => {
        if (resp.status == 'error') {
          return resp.msg
        }
      }
    })
  }
</script>
  {% endblock %}