{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/logger">Logger</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ logger.sn }}</li>
        </ol>
      </nav>
      <h2>{{ logger.sn }} <span class="fs-6 badge bg-primary rounded-pill">{{ logger.tipe|upper }}</span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-center fs-4"><a href="{{ url_for('logger.show', sn=logger.sn) }}?s={{prev_s.strftime('%Y/%m/%d') }}" class="me-5 btn btn-light"><i class="bi bi-chevron-left"></i></a> {{ sampling.strftime('%d %b %Y') }} <a href="{{ url_for('logger.show', sn=logger.sn)}}?s={{next_s.strftime('%Y/%m/%d') }}" class="btn btn-light ms-5"><i class="bi bi-chevron-right"></i></a></h2>
        {% if logger.tipe == 'arr' %}
        <table class="table">
          <thead>
            <tr>
              <th>Sampling</th>
              <th>Tick</th>
              <th>Rain</th>
              <th>Aki</th>
              <th>Sinyal</th>
            </tr>
          </thead>
          <tbody>
            {% for d in periodik %}
            <tr>
              <td>{{ d['sampling'].strftime("%H:%M") }}</td>
              <td>{{ d['tick'] }}</td>
              <td>{% if logger.tipp_fac %}{{ d['tick'] * logger.tipp_fac }}{% else %}{{ d['tick'] * 0.2 }}{% endif %}</td>
              <td>{{ d['battery'] }}</td>
              <td>{{ d['signal_quality']}}</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5">
                <div class="px-4 py-5 my-5 text-center">
                  <i class="display-4 bi bi-cup text-muted"></i>
                  <h1 class="display-6 text-muted text-body-emphasis">Tidak ada data</h1>
                  <div class="col-lg-6 mx-auto">
                    <p class="lead mt-4">Nyalakan primaBot <mark class="fw-bold">{{ logger.sn }}</mark> <b>sekarang</b> <br>dan tunggu 5 menit.</p>
                  </div>
                </div>
              </td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
        {% elif logger.tipe == 'awlr' %}
        <table class="table">
          <thead>
            <tr>
              <th>Sampling</th>
              <th>WLevel</th>
              <th>Battery</th>
              <th>Sinyal</th>
            </tr>
          </thead>
          <tbody>
          {% for d in periodik %} 
          <tr>
            <td>{{ d['sampling'].strftime("%H:%M") }}</td>
            <td>{% if d['distance'] %}{{ logger.ting_son - d['distance'] * logger.son_res }}{% elif d['wl_scale']%}{{ d['wl_scale'] }}{%endif %}</td>
            <td>{{ d['battery'] }}</td>
            <td>{{ d['signal_quality '] }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4">
              <div class="px-4 py-5 my-5 text-center">
                <i class="display-4 bi bi-cup text-muted"></i>
                <h1 class="display-6 text-muted text-body-emphasis">Tidak ada data</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mt-4">Nyalakan primaBot <mark class="fw-bold">{{ logger.sn }}</mark> <b>sekarang</b> <br>dan tunggu 5 menit.</p>
                </div>
              </div>
          </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      <div class="col-md-4">
        Lokasi 
        <i class="bi bi-geo-alt me-1"></i> 
      <abbr class="editable"
        data-type="select" data-source='[{% for loc in current_user.tenant.location_set %}{"value": {{ loc.id }}, "text": "{{ loc.nama }}"},{% endfor %}{"value": 0, "text": "Tidak Dipasang"}]' data-pk="{{logger.id}}" data-obj="logger" data-name="location_id" data-value="{{logger.location.id}}" data-title="Lokasi Logger">{% if logger.location %}Ganti{% else %}Pasang di...{% endif %}</abbr><br>
        Config<br>
        {% if logger.tipe == 'arr' %}
         ARR: tipping factor <b>{{ logger.tipp_fac}}</b> mm<br>
         {% elif logger.tipe == 'awlr'%}
         AWLR: Tinggi sonar, resolusi sonar<br>
         {% endif %}
        
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="/static/js/dark-editable.js"></script>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  const editable = document.querySelectorAll('.editable')
  let i = 0;
  for (i=0; i < editable.length; i++) {
    new DarkEditable(editable[i], {
      url: '/api/update',
      emptytext: 'Tidak terpasang',
      success: (resp, newVal) => {
        if (resp.status == 'error') {
          return resp.msg
        }
      }
    })
  }
</script>
  {% endblock %}