{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Riwayat Download
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Waktu Download</th>
                        <th>Data</th>
                        <th>Ukuran</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-4">Hello</div>
    </div>

</div>
{% endblock %}