{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="my-app"></div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><i class="bi bi-cloud-rain me-2"></i> Hujan Hari ini <span class="text-muted fw-lighter">sejak jam 7 pagi</span>
            <span class="float-end"><a href="/pos/pch" style="font-size:0.8rem;" class="fw-light">Semua Pos Curah Hujan (PCH)</a></span>
          </h5>
        </div>
        <div class="card-body">
          {{ curahhujan|length }}
          {% if curahhujan %}
          {% for h in curahhujan %}
          <li>{{ h.sn }} {{ h.sampling }}</li>
          {% endfor %}
          {% else %}
          <p class="text-center py-2"><i>Tidak ada hujan <b>hari ini</b></i></p>
          {% endif %}
        </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title"><i class="bi bi-water me-2"></i> Tinggi Muka Air <span class="text-muted fw-lighter">terbaru</span>
          <span class="float-end"><a href="/pos/pda" style="font-size:0.8rem;" class="fw-light">Semua Pos Duga Air (PDA)</a></span>
        </h5>
      </div>
    <div class="card-body">
      {% if tmas %}
      {% else %}
      <p class="text-center pt-2"><i>Tidak ada data</i></p>
      <p class="text-center text-muted pb-2"><i>dari <b>sekian</b> pos Duga Air</i></p>
      {% endif %}
    </div>
  </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><i class="bi bi-cpu me-2"></i> Logger <span class="text-end fw-lighter">{{ loggers|length }}</span>
          <span class="float-end"><a href="/logger" style="font-size:0.8rem;" class="fw-light">Semua Logger</a></span>
        </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Kosong</li>
        </ul>
      <div class="card-body">
        <h6>Perlu Perhatian</h6>
        <p>Dilihat dari data terakhir yang lebih dari 5 menit lalu</p>
        <h6>Prestasi hari ini</h6>
        <p>Persen kehadiran data hari ini</p>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="card-title"><i class="bi bi-cloud-slash me-2"></i> Data Offline
          <span class="float-end"><a href="/offline" style="font-size:0.8rem;" class="fw-light">Data Telah diupload</a></span>        
        </h5>
      </div>
    <div class="card-body">
      <p>Untuk menambahkan data dari primabot yang tidak berhasil dikirim ke server.</p>
      <p>File dari hasil download pada primabot. File teks berektensi <code>*.csv</code>.</p>
      <form action="/upload" method='POST' enctype="multipart/form-data">
        {{ data_upload_form.csrf_token }}
        <div class="mb-3">
          {{data_upload_form.to_import(class='form-control', accept='text/csv') }}
        </div>
        <div class="mb-3" id="to_import_summary"></div>
        {{ data_upload_form.submit(class='btn btn-primary') }}
      </form>  
      {% for p in list_petugas %}
      {{ p.nama }}
      {% endfor %}
  </div>
  </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
  let to_import = document.getElementById('to_import');
  to_import.addEventListener('change', (e) => {
    let f = to_import.files;
    if (f.length) {
      console.log(f[0].name);
    }
		let reader = new FileReader();
		reader.readAsText(f[0]);
		reader.onload = (e) => {
			const lines = e.target.result.split(/\r\n|\n/);
			const head = lines[0];
      console.log('head: ' + head);
			sn = head.split(' ')[0].split('/')[1]
      console.log('sn: ' + sn);
      console.log('l0: ' + lines[0]);
      console.log('l1: ' + lines[1]);
      console.log('l2: ' + lines[2]);
      console.log('l3: ' + lines[3]);
			data = lines.slice(0, lines.length)
			console.log(data.length)
		}
  }, false);
</script>
{% endblock %}