{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Hujan Hari ini</h2>
      <i>Tidak ada hujan dari (sekian) PCH</i>
      <h2>TMA Terkini</h2>
    </div>
    <div class="col-md-6">
      <div class="mb-4">
        <h3>Upload</h3>
        <p>Untuk menambahkan data dari primabot yang tidak berhasil dikirim ke server.</p>
        <p>File dari hasil download pada primabot. File teks berektensi <code>*.csv</code>.</p>
        <form action="/upload" method='POST' enctype="multipart/form-data">
          {{ data_upload_form.csrf_token }}
          <div class="mb-3">
            {{data_upload_form.to_import(class='form-control', accept='text/csv') }}
          </div>
          <div class="mb-3" id="to_import_summary"></div>
          {{ data_upload_form.submit(class='btn btn-primary') }}
        </form>  
      </div>
      <h3>Logger tidak sehat</h3>
    </div>
  </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
  let to_import = document.getElementById('to_import');
  to_import.addEventListener('change', (e) => {
    let f = to_import.files;
    if (f.length) {
      console.log(f[0].name);
    }
		let reader = new FileReader();
		reader.readAsText(f[0]);
		reader.onload = (e) => {
			const lines = e.target.result.split(/\r\n|\n/);
			const head = lines[0];
      console.log('head: ' + head);
			sn = head.split(' ')[0].split('/')[1]
      console.log('sn: ' + sn);
      console.log('l0: ' + lines[0]);
      console.log('l1: ' + lines[1]);
      console.log('l2: ' + lines[2]);
      console.log('l3: ' + lines[3]);
			data = lines.slice(0, lines.length)
			console.log(data.length)
		}
  }, false);
</script>
{% endblock %}