<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <title>prinus</title>
    <style>
      #mymap {height: 100vh; width: 100%}
      .go-up {
        display: inline-block;
      }
      .go-down {
        display: inline-block;
        transform: rotate(180deg);
      }
      #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
      }
    </style>
  </head>
  <body>
    <header style="z-index: 999" class="bg-light text-white">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            {% if current_user.tenant %}
            <a class="navbar-brand" href="/">{{current_user.tenant.nama}}</a>
            {% else %}
            <a class="navbar-brand" href="/">prinus</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item px-2">
                  <a class="nav-link" aria-current="page" href="/"><i class="bi bi-cup-hot me-1"></i> Home</a>
                </li>
                <li class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" role="button" id="dropdownRtdMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-geo-alt me-1"></i> Pos Hidrologi</a>
                  <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
                    <li><a class="dropdown-item navlink" href="/pos/pch"><i class="bi bi-cloud-rain me-2 text-danger"></i> Curah Hujan</a>
                    </li>
                    <li><a class="dropdown-item navlink" href="/pos/pda"><i class="bi bi-water me-2 text-danger"></i> Duga Air</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item navlink" href="/pos"><i class="bi bi-geo-alt me-2 text-danger"></i> Semua Pos</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" role="button" id="dropdownRtdMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-cpu me-1"></i> Logger</a>
                  <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
                    <li><a class="dropdown-item navlink" href="/logger/sehat"><i class="bi bi-clipboard2-pulse me-2 text-danger"></i> Sehat</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item navlink" href="/logger"><i class="bi bi-list-ul me-2 text-danger"></i> Semua</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" role="button" id="dropdownMapMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-map me-1"></i> Peta</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMapMenuLink">
                    <li><a href="/map?show=pch" class="dropdown-item navlink"><i class="bi bi-cloud-rain me-2 text-danger"></i> Pos Curah Hujan</a></li>
                    <li><a href="/map?show=pda" class="dropdown-item navlink"><i class="bi bi-water me-2 text-danger"></i> Pos Duga Air</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href="/map?" class="dropdown-item navlink"><i class="bi bi-geo-alt me-2 text-danger"></i> Semua Pos</a></li>
                  </ul>
                </li>
                </ul>
                <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-1"></i> {{ current_user.username }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    {% if current_user.tenant %}
                    <li><a href="/user" class="dropdown-item navlink"><i class="bi bi-person me-2 text-danger"></i> User</a></li>
                    <li><a href="/pos" class="dropdown-item navlink"><i class="bi bi-geo-alt me-2 text-danger"></i> Pos Hidrologi</a></li>
                    {% elif current_user.is_petugas %}
                    <li><a href="/admin/pos/{{ current_user.pos_id }}" class="dropdown-item navlink">Data Hidrologi</a></li>
                    {% endif %}
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a href="/logout" class="dropdown-item navlink"><i class="bi bi-power text-danger me-2"></i> Logout</a></li>   
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link btn btn-outline-secondary py-1" href="/login">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>        
      </div>
    </header>
    <div class="w-100" id="mymap">hello</div>
    <!-- Back to top button -->
<!-- Explanation -->

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
   <script>
      let pchs = [{% for p in pchs %}{name: '{{p.nama}}', ll: [{{ p.ll }}]},{% endfor %}];
      let pdas = [{% for p in pdas %}{name: '{{p.nama}}', ll: [{{ p.ll }}]},{% endfor %}];
      let map = L.map('mymap');
      let all_poses = L.featureGroup().addTo(map);
      for (let i =0; i < pchs.length; i++) {
        let marker = new L.Marker(pchs[i].ll);
        marker.bindPopup(pchs[i].name)
        all_poses.addLayer(marker);
      }
      for (let i =0; i < pdas.length; i++) {
        let marker = new L.Marker(pdas[i].ll, {title: pdas[i].name});
        marker.bindPopup(pdas[i].name)
        all_poses.addLayer(marker);
      }

      map.fitBounds(all_poses.getBounds());

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2lkb3lvIiwiYSI6ImNsNG1kcGFucTFicWUza21uMmJudTRkd3AifQ.-AhfUIYwXDOIwfD6nVFxxw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11'
        }).addTo(map);
        var arrIcon = L.icon({
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41],
            iconUrl: "https://bwssul2-gorontalo.net/img/marker/marker-icon-green.png",
            shadowUrl: "https://bwssul2-gorontalo.net/img/marker/marker-shadow.png"
        });
        var awlrIcon = L.icon({
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41],
            iconUrl: "https://bwssul2-gorontalo.net/img/marker/marker-icon-orange.png",
            shadowUrl: "https://bwssul2-gorontalo.net/img/marker/marker-shadow.png"
        });
        var lokasi = [];
        lokasi.forEach(e => {
            var m = L.marker(e.ll);
            m.bindTooltip(e.nama);
            var icon = e.type == 'arr' ? arrIcon : awlrIcon;
            var jenis = e.type == 'arr' ? 'curahhujan' : 'tma';
            m.setIcon(icon);
            m.bindPopup("<b><a href=/"+ jenis +"/" + e.id + ">" + e.nama + "</a></b>");
            m.addTo(mymap);
        });
    </script>
    </script>
  </body>
</html>
